# Default ignored files
/../../labso9 /.idea/shelf/
/../../labso9 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../labso9 /.idea/httpRequests/
# Datasource local storage ignored files
/../../labso9 /.idea/dataSources/
/../../labso9 /.idea/dataSources.local.xml
